.footer-container{
    max-width: 100%;
    padding: 3%;

    .footer-list {
        gap: 40px;

        li {
            a{
                &:hover{
                    color: $primary;
                }
            }
        }
    }
}