.footer-container{
    max-width: 1440px;
    margin: auto;
    padding: 2%;
    background-color: $secondary;

    .footer-list {
        gap: 40px;

        @include mediaQuery($maxWidth,$breakpoint-md){
                                    flex-wrap: wrap;
                                    justify-content: center;
                                }

        li {
            a{
                &:hover{
                    color: $primary;
                }
            }
        }
    }
}