.login-page-container{
    background-color: $secondary;
    background-color: gray;
    height: calc( 100vh - 80px);
    padding: 4%;
    background-image: url('../../../images/Cover.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include mediaQuery($maxWidth,$breakpoint-lg){
        padding: 0;
    }

    .login-form-container{
        background-color: $white;
        border-radius: 4px;
        padding: 60px 60px 12px;

        @include mediaQuery($maxWidth,$breakpoint-lg){
            padding: 8%;
            width: 100vw;
            height: calc(100vh - 80px);
        }

        .login-btns-container{

            @include mediaQuery($maxWidth,$breakpoint-lg){
                max-width: 400px;
            }
        }

        .facebook-btn,
        .google-btn{
            border-radius: 10px;
            padding: 3% 5%;
        }

        .facebook-btn{
            background-color: rgb(66, 102, 178);
            color: $white;
        }

        .google-btn{
            background-color: $white;
            border: 1px solid rgba(0, 0, 0, 0.15);
        }

        .demarcation{
            display: flex;
            align-items: center;
            font-size: 14px;
            color: #999;
            &::before,
            &::after {
                content: "";
                flex: 1;
                height: 1px;
                background: #ccc;
            }
            &::before {
                margin-right: 10px;
            }
            &::after {
                margin-left: 10px;
            }
        }

        .field{

          label{

            @include mediaQuery($maxWidth,$breakpoint-lg){
                max-width: 400px;
                width: 100%;
                margin: unset;
            }
          }
        }

        .auth-input{
            min-width: 270px;
            border: none;
            border-radius: 10px;
            outline: 1px solid rgba(0, 0, 0, 0.15);

            &::placeholder{
                font-size: 14px;
            }
        }
        
        .input-box{
            position: relative;
        }

        .shown-eye-btn{
            position: absolute;
            top: 50%;
            right: 0%;
            transform: translate(0%,-45%);
            background-color: unset;

            .shown-eye{
                fill: $gray;
            }

            .close-eye{
                fill: rgba(0,16,32,0.06);
            }
        }

        .account-btn{
            border-radius: 10px;
            color: $white;
            background-color: $secondary-dark;
            
            @include mediaQuery($maxWidth,$breakpoint-lg){
                max-width: 400px;
            }

            &:hover{
                background-color: $secondary;
            }
        }

        .account-inquire-text{
            color: rgba(0, 0, 0, 0.35);
            text-align: center;

            span{
                cursor: pointer;
                color: rgb(51, 151, 207);
            }
        }
    }
}